<% if @posts.any? %>
    <% @posts.each do |post| %>
        <h2> <%= post.name %> </h2>
    <% end %>
<% else %>
    Posts pending
<% end %>

<!-- <a href='#'>Add post</a> -->

<%= link_to 'Add post', new_post_path %>